<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kriti.ggiandroid">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GGIAndroid">
        <activity
            android:name=".MusicList"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CheckPreferences"
            android:exported="true" />
        <activity
            android:name=".MyPreferences"
            android:exported="true">
        </activity>
        <activity
            android:name=".SubjectsList"
            android:exported="true" />
        <activity
            android:name=".StudentsList"
            android:exported="true"></activity>
        <activity
            android:name=".HomeScreen"
            android:exported="true" />
        <activity
            android:name=".GuessingGame"
            android:exported="true" />
        <activity
            android:name=".Home"
            android:exported="true" />
        <activity
            android:name=".Login"
            android:exported="true" />
        <activity
            android:name=".Calculator"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>